html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;}
#root{
  height: 80%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.body {
  position: relative;
  width: 500px;
  display: flex;
  justify-content: space-between;
}


.search-field {
  display: flex;
  align-items: center;
}
.search-field > * {
  margin-right: 4px;
}
.search-field button {
  min-width: 50px;
  min-height: 30px;
  color: white;
  background-color: #82b2ff;
  font-weight: bold;
}
.infoArea{
  position: relative;
}